<div class="headerWrap row">
  <div class="col-md-8 filters">
    <h6><i class="fa fa-filter"></i>Filters</h6>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Answered/Not answered</option>
      <option value="Answered">Answered</option>
      <option value="NotAnswered">Not answered</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Choose tegs</option>
      <option value="AllTegs">All tegs</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JS">JS</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>My question</option>
      <option value="myQuestion">My question</option>
    </select>
    <select class="mdb-select md-form" *ngIf="isAdmin " (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Approved/Not approved</option>
      <option value="Approved">Approved</option>
      <option value="NotApproved">Not approved</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Time</option>
      <option value="lastWeek">Last week</option>
      <option value="lastMonth">Last month</option>
    </select>
    <button class="button-list-question" (click)="filterBy('')"><i class="fa fa-trash-o" ></i>Delete filters</button>
  </div>
  <div class="col-md-2 sort ">

    <h6><i class="fa fa-sort"></i>Sort:</h6>
    <a class="sort-arrow" (click)="orderBy('old')"><i class="fa fa-arrow-up"></i>first old</a>

    <a class="sort-arrow" (click)="orderBy('new')"><i class="fa fa-arrow-down"></i>first new</a>
  </div>
  <div class="col-md-2">
    <a class="nav-link">
      Settings<i class="fa fa-cog"></i>
    </a>

  </div>
</div>
<!--
<select class="mdb-select md-form" (change)="filterBy($event.target.value)">
  <option value="" disabled selected>Answered/Not answered</option>
  <option value="Answered">Answered</option>
  <option value="NotAnswered">Not answered</option>
</select>
<select class="mdb-select md-form" (change)="filterBy($event.target.value)">
  <option value="" disabled selected>Choose tegs</option>
  <option value="AllTegs">All tegs</option>
  <option value="HTML">HTML</option>
  <option value="CSS">CSS</option>
  <option value="JS">JS</option>
</select>
<select class="mdb-select md-form" (change)="filterBy($event.target.value)">
  <option value="" disabled selected>My question</option>
  <option value="myQuestion">My question</option>
</select>
<select class="mdb-select md-form" *ngIf="isAdmin " (change)="filterBy($event.target.value)">
  <option value="" disabled selected>Answered/Not answered</option>
  <option value="Approved">Approved</option>
  <option value="NotApproved">Not approved</option>
</select>
<select class="mdb-select md-form" (change)="filterBy($event.target.value)">
  <option value="" disabled selected>Time</option>
  <option value="lastWeek">Last week</option>
  <option value="lastMonth">Last month</option>
</select>
<button class="button-list-question" (click)="filterBy('')"><i class="fa fa-trash-o" ></i>Delete filters</button>


<h6><i class="fa fa-sort"></i>Sort:</h6>

<a class="sort-arrow" (click)="orderBy('old')"><i class="fa fa-arrow-up"></i>first old</a>

<a class="sort-arrow" (click)="orderBy('new')"><i class="fa fa-arrow-down"></i>first new</a> -->
