.headerWrap
  margin: 1rem 0
  border: 1px black solid
  background: 	#F5F5F5


.login
  margin-top: 0.6rem
  font-size: 1.5rem
  color: #34495e
  text-decoration: none

.sidebar-sticky
  top: 0
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto



.sidebar .nav-link
  font-weight: 500
  color: #333


.sidebar .nav-link .feather
  margin-right: 4px
  color: #999


.sidebar-heading
  font-size: .75rem
  text-transform: uppercase


.nav-link
  padding: 1.5rem 1rem
  border-bottom: 1px solid #dde0e2
  cursor: pointer


.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover
  color: #E91E63
  background: #efefef

.add-quastion-btn:hover
  color: #E91E63
  background: #efefef

.hideLi
  display: none
  position: absolute
  top: 4.3rem
  border: 1px solid black
  background: #F5F5F5
  z-index: 10
  width: 96.5%
  box-sizing: border-box

.sidebar-sticky:hover .hideLi
  display: block



.add-quastion-btn
  font-weight: 500
  color: #333
  border: 1px solid #dde0e2
  cursor: pointer
  padding: 1rem 1rem
  position: relative
  top: 1.5rem

img
  height: 60px
  width: 60px

.question
  border: 1px solid black
  margin: 2% 4%

main
  margin: 1rem 0

.title-list-question
  text-align: center
  border-bottom: 1px solid black

.tags-list-question
  float: right

.filters
  display: flex
  align-items: center

.sort
  display: flex
  align-items: center

.button-list-question
  font-weight: 500
  color: #333
  border: 1px solid #dde0e2
  cursor: pointer
  padding: 0.5rem 0.5rem

.second-line
  padding-bottom: 3rem

.buttons
  display: flex
  justify-content: center



.new-question
  border: 1px solid black
  border-radius: 2%

.button-form
  display: inline-block
  margin: 0 0.3rem

.buttons-form
  display: flex
  justify-content: center
  padding-bottom: 1rem


.add-question-circle
  width: 4rem
  height: 4rem
  border-radius: 50%
  background: blue
  color: white
  font-size: 2.5rem
  text-align: center
  position: absolute
  bottom: 10%
  right: 10%


.pointer:hover
  cursor: pointer
  background: #E6E6FA

