<app-header></app-header>
<div class="headerWrap row">
  <div class="col-md-8 filters">
    <h6><i class="fa fa-filter"></i>Filters</h6>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Answered/Not</option>
      <option value="Answered">Answered</option>
      <option value="NotAnswered">Not answered</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Tegs</option>
      <option value="AllTegs">All tegs</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JS">JS</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>My question</option>
      <option value="myQuestion">My question</option>
    </select>
    <select class="mdb-select md-form" *ngIf="isAdmin " (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Approved/Not</option>
      <option value="Approved">Approved</option>
      <option value="NotApproved">Not approved</option>
    </select>
    <select class="mdb-select md-form" (change)="filterBy($event.target.value)">
      <option value="" disabled selected>Time</option>
      <option value="lastWeek">Last week</option>
      <option value="lastMonth">Last month</option>
    </select>
    <button class="button-list-question" (click)="filterBy('')"><i class="fa fa-trash-o" ></i>Delete filters</button>
  </div>
  <div class="col-md-2 sort ">

    <h6><i class="fa fa-sort"></i>Sort:</h6>
    <a class="sort-arrow" (click)="orderBy('old')"><i class="fa fa-arrow-up"></i>first old</a>

    <a class="sort-arrow" (click)="orderBy('new')"><i class="fa fa-arrow-down"></i>first new</a>
  </div>
  <div class="col-md-2">
    <a class="nav-link">
      Settings<i class="fa fa-cog"></i>
    </a>

  </div>
</div>
<main role="main" class="row">
    <div class="question col-md-3" *ngFor="let question of allQuestions| orderBy: sortDirection | filters: typeFilter" [hidden]="!question.payload.doc.data().isApproved && !isAdmin" >
        <div class="d-flex justify-content-between">
            <a [routerLink]="['/open-question', question.payload.doc.id]" class="title-list-question">{{ question.payload.doc.data().title }}</a>
            <i class="fa fa-check" [hidden]="!question.payload.doc.data().isAnswered"></i>
          </div>
            <div class="second-line">
            <span class="date-list-question">{{ question.payload.doc.data().date.seconds * 1000 | date:'dd/MM/yyyy' }}</span>
            <span class="tags-list-question">{{ (question.payload.doc.data().HTML)?'HTML/  ': ""}}</span>
            <span class="tags-list-question">{{ (question.payload.doc.data().CSS)?'CSS/  ': ""}}</span>
            <span class="tags-list-question">{{ (question.payload.doc.data().JS)?'JS/  ': ""}}</span>
          </div>
          <div class="row buttons">
            <a  class="button-list-question" (click)="approveQuestion2(question)" *ngIf="isAdmin " [hidden]="question.payload.doc.data().isApproved" >
              <i class="fa fa-check"></i>Approve
            </a>
            <a class="button-list-question" (click)="deleteQuestion(question)" *ngIf="isAdmin " [hidden]="question.payload.doc.data().isApproved" >
              <i class="fa fa-trash-o"></i>Delete
            </a>
          </div>

</div>


</main>

<a class="add-question-circle" href="/create-new-question"><i class="fa fa-plus"></i></a>
