@import "../dashboard/dashboard.component.sass"

.author-question
  margin: 1rem 0 0 1rem

.title-question
  text-align: center

.date-question
  margin: 1rem 1rem 0 0
  float: rigth

.header-question
  display: flex
  justify-content: space-between

.description
  margin: 0 auto
  width: 80%
  margin-top: 2rem
  margin-bottom: 2rem

.comments-question
  border: 1px solid black
  padding: 0.5%

.comment
  border: 1px solid black
  padding: 0.5%
  display: flex
  padding: 5px
  justify-content: space-between

.author
  width: 4rem
  height: 4rem
  background: green
  display: inline-block

.text-comment
  display: inline-block


.close
  position: absolute
  right: 0

.close:hover
  cursor: pointer
