<div class="headerWrap row">
  <div class="col-md-2">
    <h1>LOGO</h1>
  </div>
  <div class="col-md-2 offset-4">

    <a class="add-quastion-btn" href="/create-new-question">
      <i class="fa fa-plus"></i>Add quastion
    </a>

  </div>
  <div class="col-md-4">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item" *ngIf="authService.userData as user">
          <img class="img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84KPNyltSZdDS4bbZn-ALpvS6lBQd6jJj-tpHSyNUh_dsgXU7'}}"
            alt="{{user.displayName}}">
          <span>{{(user.displayName) ? user.displayName : 'User'}}</span>
        </li>
        <li class="nav-item hideLi">
          <a class="nav-link" (click)="authService.UserProfile()">
            <i class="fa fa-sign-out-alt"></i>User Profile
          </a>
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="fa fa-sign-out-alt"></i>Log out
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>


<div class="col-md-6 offset-3 new-question" *ngIf="question">
  <div class="header-question">
    <div class="author-question">{{question.author}}</div>
    <h2 class="title-question">{{ question.title}}</h2>
    <div class="date-question">{{ question.date.seconds * 1000 | date:'MM-dd-yyyy' }}</div>
    <i class="fa fa-close close" (click)="otherService.GoToHome()"></i>
  </div>
  <hr align="center" width="80%" size="4" color="black" />
  <div class="description">
    {{question.text}}
  </div>

  <div class="header-question " >
    <div>

      <span class="tags-list-question">{{ (question.HTML)?'HTML/  ': ""}}</span>
      <span class="tags-list-question">{{ (question.CSS)?'CSS/  ': ""}}</span>
      <span class="tags-list-question">{{ (question.JS)?'JS/  ': ""}}</span>
    </div>
    <div class="buttons">

      <a  class="button-list-question" (click)="approveQuestion(question)"  [hidden]="question.isApproved">
        <i class="fa fa-check"></i>Approve
      </a>
      <span class="tags-list-question">{{ authService.userData.isAdmin }}</span>
      <a class="button-list-question" [routerLink]="['/edit-question', question.id]" *ngIf="authService.userData.email == question.author">
        <i class="fa fa-paint-brush"></i>Edit
      </a>
      <!-- *ngIf="authService.userData.isAdmin" -->
      <!-- [hidden]="question.isApproved" -->
      <!-- *ngIf="question.isApproved" -->
      <a class="button-list-question" (click)="deleteQuestion(question)" [hidden]="question.isApproved" >
        <i class="fa fa-trash-o"></i>Delete
      </a>
    </div>
  </div>
</div>


<div class="col-md-6 offset-3 comments-question">

    <form #f="ngForm" (ngSubmit)="addNewComment(f)" novalidate>
      <div class="form-group col-md-10 offset-1">
        <label>Add comment</label>
        <textarea type="text" class="form-control" placeholder="Comment" name="comments"  ngModel  #comments="ngModel"></textarea>
      </div>
        <div class="row buttons-form">
          <input type="button" type="submit" class="btn btn-primary col-md-4 offset-4 button-form" value="OK" >
          <input type="button" class="btn btn-primary col-md-4 offset-4 button-form" value="Cancel" type="reset">
        </div>
    </form>
  </div>

<div class="col-md-6 offset-3 comments-question" *ngIf="comments">

  <span>Comments/Answers</span>
  <div class="all-comments"  *ngFor="let comment of question.comments">
    <div class="comment">
      <div>
      <img class="author" src="{{(comment.author) ? comment.author : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84KPNyltSZdDS4bbZn-ALpvS6lBQd6jJj-tpHSyNUh_dsgXU7'}}">
      <div class="text-comment">{{comment.textComment}}</div>
    </div>
      <div>
        <div>{{comment.date.seconds * 1000 | date:'MM-dd-yyyy'}}</div>
        <input type="checkbox" class="form-check-input" id="resolve-{{index}}" [checked]="comment.isResolved" />
       <label for="resolve">resolve</label>
      </div>
    </div>
  </div>

</div>
