<div class="headerWrap row">
    <div class="col-md-2">
  <h1>LOGO</h1></div>
  <div class="col-md-2 offset-8">
  <a href="/register-user" class="login">Sing up</a>
  </div>
  </div>

  <div class="row justify-content-center">
      <div class="formWrap col-md-6">
          <div class="row justify-content-center">
            <div class="logoIcon"></div>
          </div>
          <div class="row justify-content-center">
              <h5 class="signUp">Log In</h5>
            </div>
        <form>
          <div class="form-group col-md-10 offset-1">
            <label for="exampleInputUser">User name</label>
            <input type="text" class="form-control" placeholder="Username" #userName required>
             </div>
          <div class="form-group col-md-10 offset-1">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" placeholder="Password" #userPassword required>
          </div>
          <div class="socialBtn col-md-10 offset-1">
              <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
                  <i class="fa fa-facebook"></i>
                  Facebook
                </button>
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fa fa-google"></i>
                   Google
                  </button>
                  <button type="button" class="btn githubBtn" (click)="authService.GithubAuth()">
                      <i class="fa fa-github"></i>
                     Github
                    </button>
          </div>
          <input type="button" class="btn btn-primary col-md-4 offset-4 signUpBtn" value="Log In" (click)="authService.SignIn(userName.value, userPassword.value)">
        </form>
      </div>
      </div>
