<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-1">
    <h1 class="logo" (click)="otherService.GoToHome()">LOGO</h1>
  </div>
  <div class="col-md-2 offset-6 ">

    <a class="btn btn-outline-primary" href="/create-new-question">
      <i class="fa fa-plus"></i>Add quastion
    </a>
  </div>
  <div class="col-md-3">
    <div class="dropdown" *ngIf="authService.userData as user">
      <button class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img class="img-thumbnail rounded-circle"
          src="{{(user.photoURL) ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84KPNyltSZdDS4bbZn-ALpvS6lBQd6jJj-tpHSyNUh_dsgXU7'}}"
          alt="{{user.displayName}}">
        <span>{{(user.displayName) ? user.displayName : 'User'}}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="authService.UserProfile()"><i class="fa fa-sign-out-alt"></i>User Profile</a>
        <a class="dropdown-item" (click)="authService.SignOut()"> <i class="fa fa-sign-out-alt"></i>Log out</a>

      </div>
    </div>


  </div>
</div>

<div class="card bg-light mb-3 col-md-6 offset-3" *ngIf="authService.userData as user">
  <div class="card-header"><i class="fa fa-close close" (click)="goHome()"></i>
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">User Profile</h1>
    </div>
    <div class="card-body">
      <div class="media">
        <img class="align-self-start mr-5 img-thumbnail rounded-circle"
          src="{{(user.photoURL) ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84KPNyltSZdDS4bbZn-ALpvS6lBQd6jJj-tpHSyNUh_dsgXU7'}}"
          alt="{{user.displayName}}">
        <div class="media-body">
          <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
          <p>User ID: <strong>{{user.uid}}</strong></p>
          <p>Email: <strong>{{user.email}}</strong></p>
          <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
        </div>
      </div>
    </div>
  </div>
