<div class="headerWrap row">
        <div class="col-md-2">
          <h1>LOGO</h1>
        </div>

        <div class="col-md-4 offset-6">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item" *ngIf="authService.userData as user">
                  <img class="img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                  alt="{{user.displayName}}">
                  <span>{{(user.displayName) ? user.displayName : 'User'}}</span>
                </li>
                <li class="nav-item hideLi">
                  <a class="nav-link" (click)="authService.SignOut()">
                    <i class="fa fa-sign-out-alt"></i>Log out
                  </a>
                </li>
              </ul>
            </div>

        </div>
      </div>
