<div class="headerWrap row">
  <div class="col-md-2">
    <h1>LOGO</h1>
  </div>

  <div class="col-md-4 offset-6">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="authService.userData as user">
            <img class="img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84KPNyltSZdDS4bbZn-ALpvS6lBQd6jJj-tpHSyNUh_dsgXU7'}}"
            alt="{{user.displayName}}">
            <span>{{(user.displayName) ? user.displayName : 'User'}}</span>
          </li>
          <li class="nav-item hideLi">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fa fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>

  </div>
</div>

<div class="col-md-6 offset-3 new-question">
  <h2 class="title-list-question">Edit question</h2>
  <form #f="ngForm" (ngSubmit)="updateQuestion(f)"  *ngIf="question" novalidate>
    <div class="form-group col-md-10 offset-1">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="title" ngModel #title="ngModel" ngModel="{{question.title}}" required>
    </div>
    <div class="form-group col-md-10 offset-1">
      <label>Text</label>
      <textarea type="text" class="form-control" placeholder="Text" name="text"  ngModel  ngModel="{{question.text}}" #text="ngModel"  required></textarea>
    </div>  <div class="row">
    <div class="tags">
        <label>Tags: </label>
      </div>
        <div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="HTML"  ngModel="{{question.HTML}}"  ngModel name="HTML" value="HTML"  #HTML="ngModel">
            <label class="form-check-label" for="HTML">HTML</label>

          </div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="CSS"  ngModel="{{question.CSS}}" ngModel name="CSS" value="CSS"  #CSS="ngModel">
            <label class="form-check-label" for="CSS">CSS</label>

          </div>
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="JS"  ngModel="{{question.JS}}"  ngModel name="JS" value="JS"  #JS="ngModel">
            <label class="form-check-label" for="JS">JS</label>
          </div>
        </div>
      </div>
      <div class="row buttons-form">
        <input type="button" type="submit" class="btn btn-primary col-md-4 offset-4 button-form" value="OK" >
        <input type="button" class="btn btn-primary col-md-4 offset-4 button-form" value="Cancel"  (click)="otherService.GoToHome()">
      </div>
  </form>
</div>
